# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  env.zsh
# ======================================
#   machine-specific environment configurations
# ======================================

## Homebrew commands
{{ if eq .chezmoi.os "darwin" -}}

prepend_to_path PATH "/opt/homebrew/bin"

{{- else if eq .chezmoi.os "linux" -}}

prepend_to_path PATH "/home/linuxbrew/.linuxbrew/bin"

{{- end }}

