# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  custom.zsh
# ======================================
#   user customizations & environment configs that don't require 3rd party plugins
# ======================================


# ==== Environment Variables ====

## PATH
# export PATH=$HOME/.local/bin:/usr/local/bin:$PATH
prepend_to_path PATH /usr/local/bin
prepend_to_path PATH $HOME/.local/bin

## man
# export MANPATH="/usr/local/man:$MANPATH"
prepend_to_path MANPATH "/usr/local/man/"


# ==== User Commands ====

alias gst="git status"
alias gcl="git clone"
alias ga="git add"
alias gc="git commit"
alias gp="git pull"
alias gP="git push"
alias lg="lazygit"
alias lzd="lazydocker"
alias ee="exit"

# alias vim="nvim"
# alias nn="~/.local/neovim/bin/nvim"
# alias nvim="nn"
alias nvi="neovide"
alias v="nvim"
# nvim server / client
alias nvs='nvim --listen localhost:6789 --cmd "let safequit=v:true"'
alias nvc='nvim --server localhost:6789 --remote-ui'

USE_RIME_CONF="--cmd \"let g:rime=v:true\""
alias vc="v $USE_RIME_CONF"
alias vimc="vim $USE_RIME_CONF"
alias nvimc="nvim $USE_RIME_CONF"

alias sourcezsh="source ~/.zshrc"

## lsd
alias ls="lsd"
alias l="ls"
alias ll="ls -l"
alias la="ls -al"
alias lt="ls --tree"

## chezmoi configs
alias cz="chezmoi"
alias cze="chezmoi edit "

alias vimfish="nvim ~/.local/share/chezmoi/dot_config/fish/config.fish"
{{ if eq .chezmoi.os "darwin" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_darwin"
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_ubuntu"
{{   else if eq .chezmoi.osRelease.id "fedora" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_fedora"
{{   else if eq .chezmoi.osRelease.id "opensuse-tumbleweed" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_opensuse"
{{   else if eq .chezmoi.osRelease.id "arch" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_arch"
{{   else if eq .chezmoi.osRelease.id "tencentos" }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_tencentos"
{{   else }}
alias vimzsh="nvim ~/.local/share/chezmoi/dot_zshrc.d/zshrc_linux"
{{   end }}
{{ end }}
alias vimrc="nvim ~/.local/share/chezmoi/dot_config/nvim/init.lua"
alias virc="vim ~/.local/share/chezmoi/dot_vim/vimrc"
alias custom_phrase="nvim ~/.local/share/chezmoi/dot_config/Rime/custom_phrase.txt"
alias vimtmpl="nvim ~/.local/share/chezmoi/template/"

## Rime
{{ if eq .chezmoi.os "darwin" }}
alias rimerc="nvim ~/.local/share/chezmoi/dot_config/Rime/squirrel.custom.yaml"
{{ end }}


# ==== User configurations ====

## zsh history
HISTFILE=~/.zshrc.d/.histfile
HISTSIZE=5000
SAVEHIST=5000
## emacs like keybinds
bindkey -e

export LANG=en_US.UTF-8

## Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nvim'
else
  export EDITOR='nvim'
fi

## fix zsh completion duplicates commands
# https://github.com/spaceship-prompt/spaceship-prompt/issues/726
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# wsl
export LC_CTYPE=C.UTF-8
{{   end }}
{{ end }}

