# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  homebrew.zsh
# ======================================
#   homebrew initialization
# ======================================

# This file is loaded by the create_ ~/.zprofile, so Homebrew's environment
# is available to login shells and inherited by interactive child shells.

# Homebrew will not perform its own update during shell startup.
export HOMEBREW_NO_AUTO_UPDATE=1

if is_command brew && [[ -z "${__ZSH_HOMEBREW_INIT:-}" ]]; then
  # brew shellenv prints export statements for HOMEBREW_PREFIX, PATH, etc.
  if eval "$(brew shellenv)"; then
    __ZSH_HOMEBREW_INIT=1
  fi

  {{ if eq .chezmoi.os "darwin" -}}
  ## homebrew/command-not-found
  HB_CNF_HANDLER="$(brew --repository)/Library/Taps/homebrew/homebrew-command-not-found/handler.sh"
  source_if_readable "$HB_CNF_HANDLER"
  unset HB_CNF_HANDLER
  {{- end }}

  if [[ -n "$HOMEBREW_PREFIX" ]]; then
    append_to_flag CPPFLAGS "-I${HOMEBREW_PREFIX}/include"
    append_to_flag LDFLAGS  "-L${HOMEBREW_PREFIX}/lib"
    append_to_flag LDFLAGS  "-Wl,-rpath,${HOMEBREW_PREFIX}/lib"
    append_to_path PKG_CONFIG_PATH "${HOMEBREW_PREFIX}/lib/pkgconfig"
    append_to_path CMAKE_PREFIX_PATH "${HOMEBREW_PREFIX}"
  fi
fi
