# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  plugins.zsh
# ======================================
#   3rd party plugins settings
# ======================================


# ==== Environment variables ====

## ---- Miktex ----
prepend_to_path PATH "$HOME/bin"

## ---- w3m ----
append_to_path PATH "/usr/lib/w3m/"


# ==== Utility aliases ====

## ---- ranger ----
# alias ra="ranger"
# rag() {
#     if [ -z "$RANGER_LEVEL" ]
#     then
#         ranger
#     else
#         exit
#     fi
# }

alias ra="yazi"
function rag() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

## ---- Clash ----
alias setproxy="export https_proxy=http://127.0.0.1:7890;export http_proxy=http://127.0.0.1:7890;export all_proxy=socks5://127.0.0.1:7890"
alias unsetproxy="unset https_proxy;unset http_proxy;unset all_proxy"

## ---- Pandoc ----
{{ if eq .chezmoi.os "darwin" -}}
alias panexport='pandoc --template eisvogel --listings --pdf-engine=xelatex -V CJKmainfont="PingFang SC" '
{{- end }}


# ==== Initialization ====

## ---- zoxide ----
eval "$(zoxide init zsh)"

## ---- starship ----
eval "$(starship init zsh)"

## ---- fzf ----
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source ~/.config/fzf/fzf_config.zsh


