# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  plugins.zsh
# ======================================
#   3rd party plugins settings
# ======================================


# ==== Environment variables ====

## ---- Miktex ----
prepend_to_path PATH "$HOME/bin"

## ---- w3m ----
append_to_path PATH "/usr/lib/w3m/"


# ==== Utility aliases ====

## ---- ranger ----
# alias ra="ranger"
# rag() {
#     if [ -z "$RANGER_LEVEL" ]
#     then
#         ranger
#     else
#         exit
#     fi
# }

alias ra="yazi"
function rag() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

## ---- Clash ----
export_if_undefined proxy_ip "127.0.0.1"

function _setproxy {
  export http_proxy="socks5://${proxy_ip}:7890"; export https_proxy="socks5://${proxy_ip}:7890"; export all_proxy="socks5://${proxy_ip}:7890";
  export HTTP_PROXY="socks5://${proxy_ip}:7890"; export HTTPS_PROXY="socks5://${proxy_ip}:7890"; export ALL_PROXY="socks5://${proxy_ip}:7890";
  echo -e "proxy on"
}
alias setproxy=_setproxy

function _unsetproxy {
  unset http_proxy https_proxy all_proxy
  unset HTTP_PROXY HTTPS_PROXY ALL_PROXY
  echo -e "proxy off"
}
alias unsetproxy=_unsetproxy

function _setgitproxy {
  git config --global https.proxy socks5://${proxy_ip}:7890
  git config --global http.proxy socks5://${proxy_ip}:7890
  git config --global ssh.proxy socks5://${proxy_ip}:7890
  echo -e "git: proxy on"
}
alias setgitproxy=_setgitproxy

function _unsetgitproxy {
  git config --global --unset https.proxy
  git config --global --unset http.proxy
  git config --global --unset ssh.proxy
  echo -e "git: proxy off"
}
alias unsetgitproxy=_unsetgitproxy

## ---- Pandoc ----
{{ if eq .chezmoi.os "darwin" -}}
alias panexport='pandoc --template eisvogel --listings --pdf-engine=xelatex -V CJKmainfont="PingFang SC" '
{{- end }}


# ==== Initialization ====

## ---- zoxide ----
eval "$(zoxide init zsh)"

## ---- starship ----
eval "$(starship init zsh)"

## ---- fzf ----
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source ~/.config/fzf/fzf_config.zsh

## tldr
export TLDR_AUTO_UPDATE_DISABLED=1

