{
    "explorer.icon.enableNerdfont": true,
    "clangd.compilationDatabasePath": ".vscode",
    "suggest.noselect": true,
    "snippets.ultisnips.pythonPrompt": false,
    "python.venvPath":
    {{- if eq .chezmoi.os "darwin" }} "/opt/anaconda3/envs"{{ end }}
    {{- if eq .chezmoi.os "linux" }} ""{{ end }},
    "python.pythonPath": "$HOME/.config/nvim/execute_python.sh"
}
