{{- if ne .chezmoi.os "windows" }}
{{- if .external.zsh -}}
{{- if not (stat (joinPath .chezmoi.homeDir ".oh-my-zsh")) -}}
#!/usr/bin/env bash

if [[ -z "$(command -v zsh)" ]]; then
    echo "Zsh is not installed, please install zsh first."
    exit 1
fi

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

{{- end -}}
{{- end -}}
{{- end -}}
