# vi: ft=toml

{{ $profile := promptString "profile" "personal" -}}
{{ $email := promptString "email" "inkfinite@qq.com" -}}
{{ $rime := promptBool "external.rime" true }}

[data]
    email = {{ $email | quote }}
    name = "inkfin"
    profile = {{ $profile | quote }}
[data.external]
    rime = {{ $rime | quote }}
[git]
    autoCommit = false
    autoPush = false
[diff]
    command = "delta"
    args = ["--color-only", "--line-numbers", "--syntax-theme=Nord", {{`"{{ .Destination }}"`}}, {{`"{{ .Target }}"`}}]
[merge]
    command = "nvim"
    args = ["-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}]
{{- if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.EXE"
    args = ["-NoLogo"]
    # command = "nu"
    # args = []
{{- end}}

