# vi: ft=toml

{{- $profiles   := list "personal" "work" "server" }}

{{- $profile    := promptChoiceOnce . "data.profile" "Which profile should we apply" $profiles }}
{{- $name       := promptStringOnce . "data.name" "What's your name" "inkfin" }}
{{- $email      := promptStringOnce . "data.email" "What's your email" "inkfinite@qq.com" }}
{{- $rime       := promptBoolOnce   . "data.external.rime" "Should we pull rime" false }}

[data]
    profile = {{ $profile | quote }}
    name = {{ $name | quote }}
    fullname = "Ink Zhang"
    email = {{ $email | quote }}
[data.external]
    rime = {{ $rime }}
[git]
    autoCommit = false
    autoPush = false
[diff]
    command = "delta"
    args = ["--color-only", "--line-numbers", "--syntax-theme=Nord", {{`"{{ .Destination }}"`}}, {{`"{{ .Target }}"`}}]
[merge]
    command = "nvim"
    args = ["-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}]
{{- if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.EXE"
    args = ["-NoLogo"]
    # command = "nu"
    # args = []
{{- end }}

