# vi: ft=toml

{{- $profiles   := list "personal" "work" "server" }}

{{- $profile    := promptChoiceOnce . "data.profile" "Which profile should we apply" $profiles }}
{{- $name       := promptStringOnce . "data.name" "What's your name" "inkfin" }}
{{- $email      := promptStringOnce . "data.email" "What's your email" "inkfinite@qq.com" }}

[data]
    profile = {{ $profile | quote }}
    name = {{ $name | quote }}
    fullname = "Ink Zhang"
    email = {{ $email | quote }}
[data.font]
    term_font = "UbuntuMono Nerd Font Mono"
    editor_font = "JetbrainsMono Nerd Font Mono"
    ui_font = "ZedMono Nerd Font Mono"
[git]
    autoCommit = false
    autoPush = false
[diff]
    command = "delta"
    args = ["--color-only", "--line-numbers", "--syntax-theme=Nord", {{`"{{ .Destination }}"`}}, {{`"{{ .Target }}"`}}]
[merge]
    command = "nvim"
    args = ["-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}]
{{- if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.EXE"
    args = ["-NoLogo"]
    # command = "nu"
    # args = []
{{- end }}

