# vi: ft=toml

[user]
	name = "{{ .name }}"
	email = "{{ .email }}"

[include]
	path = ~/.config/gitalias.txt

[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pager]
	difftool = false

[merge]
    tool = nvimdiff
{{ if eq .chezmoi.os "windows" }}
[mergetool "nvimdiff"]
    cmd = nvim -d $REMOTE $LOCAL $BASE $MERGED -c '$wincmd w' -c 'wincmd J'
{{ else }}
[mergetool "nvimdiff"]
    cmd = nvim -d $REMOTE $LOCAL $BASE $MERGED
{{ end }}
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
    safecrlf = true
	excludesfile = ~/.gitignore_global
	pager = delta
[commit]
	template = ~/.gitmessage
[delta]
	navigate = true
    dark = true
    line-numbers = true
    side-by-side = true
	
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = true
	reabase = true
[pack]
	threads = 8

[credential "helperselector"]
	selected = manager
[credential "https://git.overleaf.com"]
	provider = generic
[credential "https://codeup.aliyun.com"]
	provider = generic
[credential]
	helper = store

