[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[merge]
	tool = nvimdiff
[core]
	autocrlf = input
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache --timeout=604800


# MacOS confiuration
{{- if eq .chezmoi.os "darwin" }}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
{{- end }}


