{{ if ne .chezmoi.os "windows" -}}

{{-   if eq .chezmoi.os "darwin" -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_darwin

{{-   else if eq .chezmoi.os "linux" -}}

{{-     if eq .chezmoi.osRelease.id "ubuntu" -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_ubuntu

{{-     else if eq .chezmoi.osRelease.id "debian" -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_clean

{{-     else if eq .chezmoi.osRelease.id "fedora" -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_fedora

{{-     else if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_opensuse

{{-     else -}}

{{ .chezmoi.homeDir }}/.zshrc.d/zshrc_linux

{{-     end -}}

{{-   end -}}

{{- end -}}

