# vi: ft=toml

[terminal.shell]
{{- if eq .chezmoi.os "windows" }}
program = "pwsh"
{{- else }}
program = "zsh"
{{- end }}

[window]
option_as_alt = "OnlyLeft"

[general]
live_config_reload = true

[terminal]
