# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  homebrew.zsh
# ======================================
#   homebrew initialization
# ======================================

# remember to put brew in the PATH
# "eval $(/path/to/brew shellenv)" >> ~/.zprofile

{{ if eq .chezmoi.os "darwin" -}}

eval "$(brew shellenv)"

## homebrew/command-not-found
HB_CNF_HANDLER="$(brew --repository)/Library/Taps/homebrew/homebrew-command-not-found/handler.sh"
if [ -f "$HB_CNF_HANDLER" ]; then
source "$HB_CNF_HANDLER";
fi

{{- else if eq .chezmoi.os "linux" -}}

eval "$(brew shellenv)"

{{- end }}

# disable auto update
export HOMEBREW_NO_AUTO_UPDATE=

append_to_flag CPPFLAGS "-I${HOMEBREW_PREFIX}/include"
append_to_flag LDFLAGS  "-L${HOMEBREW_PREFIX}/lib -Wl,-rpath,${HOMEBREW_PREFIX}/lib"
append_to_flag PKG_CONFIG_PATH "${HOMEBREW_PREFIX}/lib/pkgconfig"
append_to_flag CMAKE_PREFIX_PATH "${HOMEBREW_PREFIX}"

