# -*- zsh -*-
# vi: ft=zsh

# ======================================
#  plugins.zsh
# ======================================
#   3rd party plugins settings
# ======================================


# ==== Environment variables ====

## ---- Miktex ----
export PATH="$HOME/bin:$PATH"

## ---- w3m ----
append_to_path PATH "/usr/lib/w3m/"


# ==== Utility aliases ====

## ---- ranger ----
rag() {
    if [ -z "$RANGER_LEVEL" ]
    then
        ranger
    else
        exit
    fi
}

## ---- Clash ----
alias setproxy="export https_proxy=http://127.0.0.1:7890;export http_proxy=http://127.0.0.1:7890;export all_proxy=socks5://127.0.0.1:7890"
alias unsetproxy="unset https_proxy;unset http_proxy;unset all_proxy"

## ---- Pandoc ----
{{ if eq .chezmoi.os "darwin" -}}
alias panexport='pandoc --template eisvogel --listings --pdf-engine=xelatex -V CJKmainfont="PingFang SC" '
{{- end }}


# ==== Initialization ====

## ---- zoxide ----
eval "$(zoxide init zsh)"

## ---- starship ----
eval "$(starship init zsh)"

## ---- fzf ----
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source ~/.config/fzf/fzf_config.zsh


