# ssh config
#
# Note:
#   ssh uses the first value it gets for each option, so put specific hosts first.

Host github.com
  HostName ssh.github.com
  Port 443
  User git
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

{{ if eq .chezmoi.os "darwin" -}}
#Include ~/.ssh/1password_config
{{ end }}
