# https://github.com/ahrm/sioyek/blob/main/pdf_viewer/keys.config

# Go down one screen width (can be prefixed with a number which tells how many screen widths should we go down)
screen_down <space>
screen_up <S-<space>>
screen_down <C-d>
screen_up <C-u>

# Toggle synctex mode. When in synctex mode, right clicking on a pdf launches the corresponding latex page.
toggle_synctex <f4>
#toggle_synctex 1

## Perform a synctex search under the mouse cursor
synctex_under_cursor x
