# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/keymap-default.toml
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[[mgr.prepend_keymap]]
on = [ "l" ]
run = "plugin smart-enter"
desc = "smart enter"

[[mgr.prepend_keymap]]
on = [ "<Enter>" ]
run = "plugin smart-enter"
desc = "smart enter"

{{ if eq .chezmoi.os "windows" -}}

[[mgr.prepend_keymap]]
on = [ "S" ]
# run = 'shell "nu.exe" --block --confirm'
run = 'shell "pwsh.exe --NoLogo" --block --confirm'
desc = "enter shell (cwd)"

{{- else -}}

[[mgr.prepend_keymap]]
on = [ "S" ]
run = 'shell "$SHELL" --block --confirm'
desc = "enter shell (cwd)"

{{- end }}

[[mgr.prepend_keymap]]
on   = "T"
run  = "plugin toggle-pane max-preview"
desc = "Maximize or restore the preview pane"

[[mgr.prepend_keymap]]
on = [ "<C-g>" ]
run = 'shell --confirm --block lazygit'
desc = "Lazygit"

[[mgr.prepend_keymap]]
on = [ "m" ]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

[[mgr.prepend_keymap]]
on = [ "'" ]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

[[mgr.prepend_keymap]]
on = [ "b", "d" ]
run = "plugin bookmarks delete"
desc = "Delete a bookmark"

[[mgr.prepend_keymap]]
on = [ "b", "D" ]
run = "plugin bookmarks delete_all"
desc = "Delete all bookmarks"

# [[manager.prepend_keymap]]
# on = "<C-y>"
# run = ["plugin system-clipboard"]
# desc = "Copy to system clipboard"

# vi: ft=toml
