if _G.disable_plugins.copilot then
    return {}
end

return {
    -- {{ if eq .profile "work" }}
    {
        "git@git.woa.com:aurorani/gongfeng-copilot.git",
    },
    -- {{ else }}
    {
        "zbirenbaum/copilot.lua",
        keys = {
            { "<leader>cD", "<cmd>Copilot disable<CR>", mode = "n", desc = "Disable Copilot" },
            { "<leader>cE", "<cmd>Copilot enable<CR>", mode = "n", desc = "Enable Copilot" },
        },
        opts = {
            suggestion = {
                enabled = true,
                auto_trigger = true,
                hide_during_completion = false,
                keymap = {
                    accept = "<M-l>",
                    accept_word = "<M-right>",
                    next = "<M-]>",
                    prev = "<M-[>",
                    dismiss = "<C-]>",
                },
            },
            panel = {
                enabled = false,
                auto_refresh = true,
            },
            filetypes = {
                markdown = true,
            },
        },
    },
    {
        "zbirenbaum/copilot-cmp",
        enabled = false,
    },
    -- {{ end }}
}

-- vim: set ft=lua:
