{{- if eq .chezmoi.os "darwin" -}}

# install pandoc for exporting
brew install pandoc

# prefer miktex to texlive
brew install miktex

{{- else if eq .chezmoi.os "linux" -}}

# install pandoc for exporting
pac install pandoc

# prefer miktex to texlive
pac install miktex

{{- end -}}

# IMPORTANT: Remember to open miktex-console to
#     apply update & set auto-install !!!

## Templates
# Eisvogel
#   [https://github.com/Wandmalfarbe/pandoc-latex-template]
#
## Some cool fonts
#
# Chinese
#   - Smiley-Sans
#     [https://github.com/atelier-anchor/smiley-sans/releases/latest]
#

